#calendarTable {
  /* width: 100vw; */
  text-align: center;
  font-size: 20;
  font-family: helvetica;
}
#switcherTable {
  width: 100vw;
  text-align: center;
}
td, th, tr {
  border: 1px solid black;
}
body, html {
  padding: 0;
  margin: 0;
}
#switcherTable td, th{
  padding-top: 30px;
  padding-bottom: 30px;
  vertical-align: middle;
  font-size: 20;
  font-family: helvetica;
  background-color: #9a0000;
  color: white;
}
#switcherTable th {
  font-size: 35;
}
#switcherTable td {
  width: 100;
}
#calendarTable td {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 14.285714286vw;
}
#yellow {
  background-color: #fff500;
}
#orange {
  background-color: #f48b00;
  color: white;
}
#red {
  background-color: #e00000;
  color: white;
}
